@import "./_variable.scss";

@mixin border-styling($color) {
  -webkit-box-shadow: 10px 10px 15px -4px $color;
  -moz-box-shadow: 10px 10px 15px -4px $color;
  box-shadow: 10px 10px 15px -4px $color;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font: 100% "Space Mono", monospace;
  color: #6b717f;
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
}
main {
  padding: 0 1em;
}
article {
  display: flex;
  flex-wrap: wrap;
  section {
    flex-grow: 1;
    flex-basis: 45%;
    border: 1px #8c8c8c solid;
    @include border-styling($gray);
    padding: $padding;
    margin: 16px;
    clear: both;
    overflow: auto;
    box-sizing: border-box;
    &#selling-points {
      flex-grow: 2;
      flex-basis: 100%;
    }
  }
  code {
    background: #000;
    border: 1px solid #6b717f;
    color: #8c8c8c;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: $padding;
    display: block;
    word-wrap: break-word;
    &before {
      float: left;
      width: 40%;
    }
    &after {
      float: right;
      width: 40%;
    }
  }
}

%color-pink {
  color: $pink;
}
h1 {
  text-align: center;
  @extend %color-pink;
}
h2 {
  @extend %color-pink;
}

h3 {
  text-align: center;
  font-size: 1.5em;
  padding: 2 * $padding;
  margin-bottom: 0px;
  @extend %color-pink;
}

.messages {
  padding: $padding;
}

%border-padding-color {
  border: 1px solid $gray;
  padding: $padding;
  color: #fff;
}

.success {
  background-color: $green;
  @extend %border-padding-color;
}

.error {
  background-color: $red;
  @extend %border-padding-color;
  &hover {
    background-color: $green;
  }
}

.warning {
  background-color: $orange;
  @extend %border-padding-color;
}
.advantages {
  @for $i from 1 through 3 {
    li:nth-child(3n + #{$i}) {
      background-color: lighten($base-color, $i * 5%);
    }
  }
}
